---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getBlogs } from "../libs/microcms";

const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="Welcome to Astro.">
	<main transition:animate="slide">
		<h1>astro blog</h1>
		<ul>
			{
				response.contents.map((blog: any) => (
					<li>
						<a href={blog.id}>📝{blog.title}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	ul {
		list-style: none;
		background-color: aquamarine;
		padding: 25px;
		border-radius: 25px;
		li {
			a {
				text-decoration: none;
			}
		}
	}
</style>
